/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  max-height: fit-content%;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bubble {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  border: 2px solid transparent;
  border-radius: 50%;
  animation: bubbleMove 30s linear infinite;
  animation-fill-mode: forwards;
  z-index: 9999;
}

@keyframes bubbleMove {
  0% {
    bottom: 0;
    transform: translateX(-50%);
  }
  100% {
    bottom: 100%;
    transform: translateX(-50%) translateY(-100vh);
  }
}

/* Bottom Left */
/* .bottom-left {
  bottom: 0;
  left: 0;
}

/* Bottom Right */
.bottom-right {
  bottom: 0;
  right: 0;
}

/* Middle Left */
.middle-left {
  bottom: 50%;
  left: 0;
}

/* Keyframes for bubble movement */
@keyframes bubbleMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(
      0,
      -100vh
    ); /* Move the bubble to the top of the viewport */
  }
}
*/

/* Introduction Section */
//* Introduction Section */
/* Introduction Section */
/* #introduction { */
#introduction {
  background: linear-gradient(45deg, #ff4500, #ff8c00);
  color: #fff; /* Set text color to white for better readability */
  /* } */
}

#introduction .container {
  position: relative;
}

#introduction h1 {
  font-size: 5em; /* Make the font size bigger */
  font-weight: bold; /* Make the font bolder */
}

#introduction p {
  margin-bottom: 20px;
  font-weight: bold; /* Make the text bolder */
  color: white; /* Brighter color */
  font-family: "Arial", sans-serif; /* Specify font family */
  font-size: 2em; /* Specify font size */
}

/* Photo Container */
/* Photo Container */
.photo-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 400px; /* Increase the width */
  height: 400px; /* Increase the height */
  overflow: hidden; /* Hide any overflow content */
  animation: fadeInRight 1s ease-out forwards; /* Animate fade in from right */
}

/* .photo-container img {
  width: 100%; /* Make the image fill the container */
/* height: auto;  */
/* }  */
..photo-container img {
  width: 100%; /* Make the image responsive */
  max-width: 300px; /* Limit the image width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make the image circular */
  margin: 0 auto; /* Center the image horizontally */
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 10;
    transform: translateX(0);
  }
}
/* } */

.buttons {
  margin-top: 40px;
}

.resume-btn,
.contact-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  background-color: orange;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.resume-btn:hover,
.contact-btn:hover {
  background-color: #555;
}

/* Photo Section */
/* #photo {
  background: linear-gradient(135deg, #ff96e6, #7d1bff);
  animation: slideFromRight 1s ease-out forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */

.photo-container {
  margin-top: 30px;
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  background-color: orange; /* Background color */
  border-radius: 50%; /* Make it a circle */
  animation: float 3s infinite alternate; /* Apply the float animation */
}
.photo-container img {
  border: 10px;
}

@keyframes float {
  0% {
    transform: translate(-5px, -5px); /* Move up and left */
  }
  25% {
    transform: translate(5px, -5px); /* Move up and right */
  }
  50% {
    transform: translate(5px, 5px); /* Move down and right */
  }
  75% {
    transform: translate(-5px, 5px); /* Move down and left */
  }
  100% {
    transform: translate(-5px, -5px); /* Move up and left */
  }
}

/* Skills Section */
/* Skills Section */
#skills {
  padding: 50px 0;
  text-align: center;
  /* background-color: #76abae; */
}

#skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  width: 160px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px); /* Lift the card */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Intensify shadow */
}

.skill-card img {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s; /* Apply transition to image */
}

.skill-card:hover img {
  transform: scale(1.1); /* Enlarge the image */
}

.skill-card h3 {
  font-size: 1.2em;
  color: #333;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-card {
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.skill-card:nth-child(1) {
  animation-delay: 0.2s;
}

.skill-card:nth-child(2) {
  animation-delay: 0.4s;
}

.skill-card:nth-child(3) {
  animation-delay: 0.6s;
}

.skill-card:nth-child(4) {
  animation-delay: 0.8s;
}

.skill-card:nth-child(5) {
  animation-delay: 1s;
}

.skill-card:nth-child(6) {
  animation-delay: 1.2s;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-card {
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.skill-card:nth-child(1) {
  animation-delay: 0.2s;
}

.skill-card:nth-child(2) {
  animation-delay: 0.4s;
}

.skill-card:nth-child(3) {
  animation-delay: 0.6s;
}

.skill-card:nth-child(4) {
  animation-delay: 0.8s;
}

.skill-card:nth-child(5) {
  animation-delay: 1s;
}

.skill-card:nth-child(6) {
  animation-delay: 1.2s;
}

/* Projects Section */
/* Projects Section */
#projects {
  padding: 50px 0;
  /* background-color: #fcf6f5ff; */
}

#projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  width: 300px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  margin-bottom: 10px;
  color: #333;
}

.project-info p {
  color: #666;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #5f0eca;
}

/* Contact Section */
/* Contact Form */
#contact {
  padding: 50px 0;
  /* background-color: #990011ff; */
  background-color: #222831;
  text-align: center;
}

.contact-title {
  font-size: 2em;
  margin-bottom: 30px;
}

.contact-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.contact-form input[type="submit"] {
  background-color: orange;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #5f0eca;
}

.contact-form textarea {
  height: 150px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #7d1bff;
}

.contact-info {
  margin-top: 30px;
}

.contact-info p {
  margin-bottom: 10px;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Introduction Section */
#introduction h1 {
  animation: moveUpDown 2s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

/* Introduction Section */
.animated-section {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.8s, transform 0.8s;
}

.animated-section.active {
  opacity: 1;
  transform: translateX(0);
}

.intro {
  background-color: #31363f;
  color: white;
  padding: 50px;
}

.skills {
  /* background: linear-gradient(45deg, #7d1bff, #00bfff); */
  /* background-color: #76abae; */
  background-color: #31363f;
  color: #fff;
  padding: 50px;
}

.projects {
  /* background: linear-gradient(45deg, #ff6347, #ffd700); */
  /* /* background-color: #31363f; */
  background-color: #31363f;
  color: #fff;
  padding: 50px;
}

.contact {
  /* background: linear-gradient(45deg, #4169e1, #87ceeb); */
  color: #fff;
  padding: 50px;
}

.orange-text {
  color: orange;
}
.center {
  text-align: center;
}

.big {
  font-size: 3em; /* Adjust the font size as needed */
}

.color-change-orange {
  color: orange; /* Initial color */
}

.color-change-red {
  color: red; /* Final color */
}

/* Example media query for small devices (phones) */
@media only screen and (max-width: 768px) {
  /* CSS styles for small screens */
}

img {
  max-width: 100%;
  height: auto;
}
